/* bs */


.nav-link-name {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  color: white;
  list-style: none;
  text-decoration: none;
  padding: 8px;
}

/* ayuda bs*/
.main-acordion {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-left: 50px;
  padding-right: 50px;
}

.acordeon-boton {


  background-color: rgb(102,55,42,1);
  color: white;
  border: none;
  font-family: sans-serif;
  font-size: 25px;
  border-radius: 8px;
  padding-left: 10px;
}

.espacio-boton {
  padding-top: 15px;
  padding-bottom: 15px;
}

.respuesta-acordion {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: 20px;
  font-family: sans-serif;
  background-color: white;
  border-radius: 8px;
}

.navbar-color {
  background-color: black;
}

/* index */

html {
  height: 100%;
}


body {
  margin: 0;
  height: 100%;
}


main {
  background-color: white;
  background-repeat: repeat;
}



.columna-principal {
  background: rgb(46,16,10);
  background: linear-gradient(90deg, rgba(46,16,10,1) 14%, rgba(102,55,42,1) 70%, rgba(153,114,99,1) 95%);
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.columna-principal div {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}

.columna-principal h1 {
  color: white;
  font-family: "jost";
  font-size: 25px;

}

.columna-principal h2 {
  color: white;
  font-family: "Jost";
  font-size: 25px;

}

.blackpanter {
  width: 30%;
}

.columna-horizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 350px;
  background-image: url(../imagenes/tamaño-correcto/inicio/fondo\ gris.jpg);
}


.harry-inicio {
  width: 40%;
}

.descripcion-harry {
  margin-left: 3rem;
}

.descripcion-harry p {
  font-size: 20px;
}

.descripcion-harry a {
  color: white;
}

.descripcion-harry button {
  color: white;
  background-color: black;
  border-radius: 15px;
  text-decoration: none;


}


.boton-harry {
  text-decoration: none;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.boton-harry:hover {
  background-color: white;
}

.boton-harry:hover a {
  color: black;
}


.container-funkos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.columna {
  display: flex;
  align-items: center;
  height: 100%;
}

.izquierda {
  background-image: url("../imagenes/tamaño-correcto/inicio/fondo\ burbuja.jpg");
}

.derecha {
  color: white;
  background-image: url("../imagenes/tamaño-correcto/inicio/fondo\ brilloso.jpg");
}

.columna img {
  height: 100%;
  width: 55%;
}

.columna .descripcion {
  margin-left: 3rem;
}

.batman {
  color: white;
}

/* .proximamente h1 {
  font-size: 40px;
  color: white;
  font-family: "Jost", sans-serif;
  margin-top: 1rem;
  margin-right: 35rem;
} */

main h2 {
  font-family: "Jost", sans-serif;
}

main p {
  font-family: "Jost", sans-serif;
}

.proximamente {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(235, 131, 95);
  background: linear-gradient(90deg, rgba(235, 131, 95, 1) 0%, rgba(236, 158, 105, 1) 32%, rgb(242, 186, 161) 100%);
  /* background: rgb(150,191,244);
  background: radial-gradient(circle, rgba(150,191,244,1) 49%, rgba(30,88,212,1) 100%); */
  /* background-image: url(../imagenes/tamaño-correcto/inicio/fondo\ borroso\ \(2\).jpg); */
}

.inicio {
  display: flex;
  justify-content: space-evenly;
}

.inicio img {
  padding: 15px;
}

.favoritos {
  background-color: rgb(240, 207, 166);
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.favoritos img {
  padding: 15px;
}

.favoritos h2 {
  width: 55%;
}

section h2 {
  color: rgb(0, 0, 0);
}

section img {
  width: 200px;
  height: 200px;
}

/* footer */
footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

footer img{
padding-left: 1rem;
}

footer ul {
  display: flex;
  padding-right: 1rem;
  
}

footer ul li {
  color: aliceblue;
  font-size: 100%;
  list-style: none;
  padding: 10px;
}
footer i{
  font-size: 3rem;
}

footer li a {
  color: aliceblue;
}

/* productos */

.prod-card {
  border-radius: 5px;
  box-shadow: 3px 11px 10px 2px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: 3px 11px 10px 2px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 3px 11px 10px 2px rgba(0, 0, 0, 0.48);
  margin: 0 1rem 1rem 1rem;

}

.prod-card h2 {
  padding-left: 8px;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.prod-card p {
  padding-left: 8px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.boton-productos {
  margin-bottom: 15px;
  border-radius: 4px;
  background-color: rgb(243, 238, 238);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn-comprar{
  display: flex;
  justify-content: center;
  align-items: center;
}



.productos {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 30px 30px 0 40px;
}

.producto-titulo {
  text-align: center;
}

.producto-imagenes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}

#primer-producto {
  padding-bottom: 3rem;
}


/* info */
.informacion{
  background: rgb(46,16,10);
  background: linear-gradient(90deg, rgba(46,16,10,1) 14%, rgba(102,55,42,1) 70%, rgba(153,114,99,1) 95%);
  height: 7rem;

}

.informacion h1{
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  
}


.contacto {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  list-style: none;
  color: black;
}

.datos ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.datos ul li {
  padding-right: 15px;
  color: rgb(102,55,42,1);
}

.datos ul li i {
  padding-right: 5px;
}

.logos {
  background: rgb(46,16,10);
  background: linear-gradient(90deg, rgba(46,16,10,1) 14%, rgba(102,55,42,1) 70%, rgba(153,114,99,1) 95%);
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  
}

.logos img {
  width: 20%;
}








/* nosotros */



.sobre-nosotros{
  height: 250px;
  display: flex;
  background: rgb(46,16,10);
  background: linear-gradient(90deg, rgba(46,16,10,1) 14%, rgba(102,55,42,1) 70%, rgba(153,114,99,1) 95%);
}

.sobre-nosotros h2{
  color: white;
  font-size: 2rem;
  padding-left: 3rem;
  margin-top: 3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sobre-nosotros h3{
  color: white;
  font-size: 1.1rem;
  padding-left: 3rem;
  padding-right: 8rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pato-donald{
  width: 100%;
  
  
}
.cards-nosotros{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.card-nos{
  width: 20%;
  border-radius: 5px;
  box-shadow: 3px 11px 10px 2px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: 3px 11px 10px 2px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 3px 11px 10px 2px rgba(0, 0, 0, 0.48);
  margin: 1rem 1rem 1rem 1rem;
}

.card-nos img{
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-nos h2{
  font-size: 2rem;
  margin-left: .5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-nos h3{
  font-size: 1rem;
  margin-left: .5rem;
  
}


.card-nos button{
  border-radius: 10px;
  background-color: black;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
  margin-left: .5rem;
  margin-bottom: 1rem;
}

.card-nos button:hover{
  background-color: white;
  color: black;
  
}

/* .historia h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #311b6e;
  margin-top: 2rem;
  margin-left: 30rem;
}

.imagen {
  width: 13%;
  border-radius: 100%;
  margin-left: 2rem;
  display: inline;
}

.card-info {
  display: flex;
  align-items: center;
  border: solid 4px #311b6e;
  margin: 2rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 3px 41px 3px #311b6e;
  -webkit-box-shadow: 0px 3px 41px 3px#311b6e;
  -moz-box-shadow: 0px 3px 41px 3px #311b6e;

}

.info-mia {
  margin-left: 2rem;
  margin-right: 3rem;
}

.info-mia p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #311b6e;
}

.info-mia h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #311b6e;
}

.cantidad {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 4rem;
  margin-bottom: 2rem;


}

.cantidad p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  color: #311b6e;
}

.botones-nosotros {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;

}

.botones-nosotros button {
  background-color: #311b6e;
  border-radius: 4px;
  border-color: #311b6e;
}

.botones-nosotros a {
  text-decoration: none;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
} */

/* otros */
.otros-card {
  margin-top: 1rem;
}

/* mi media */
@media (max-width:576px) {
  section img {
    width: 100%;
    height: 100%;
  }
  

  .producto-imagenes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .prod-card {
    width: 80%;
    
  }
  
  .prod-card h2 {
    padding-left: 8px;
    font-size: 15px;
    
  }
  
  .prod-card p {
    padding-left: 8px;
    
  }
  
  .container-funkos {
    grid-template-columns: repeat(1, 1fr);
  }

  .harry-potter {
    font-size: 3.5rem;
  }

  .datos ul {
    flex-direction: column;
    font-size: 1.1rem;
  }

  .contacto-container {
    padding: 0 1rem;
  }

  .acordion-tamaño{
    
  }
  .acordeon-boton{
    font-size: 1rem;
  }
}






.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}





.harry-prod img {
  width: 16rem;
  margin-left: 30rem;
}

.harry-prod {
  background-image: url(../imagenes/funko/proximamente/harry\ potter.jpg);
  margin-bottom: 3rem;
}
/* 
*{
  outline:  2px solid red;
} */

/* background: rgb(7,1,11);
background: linear-gradient(90deg, rgba(7,1,11,1) 11%, rgba(49,27,110,1) 72%, rgba(150,56,227,1) 97%); */