@charset "UTF-8";
.datos ul, footer, .columna, .columna-horizontal, .columna-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards-nosotros, .informacion h1, .producto-imagenes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobre-nosotros, .logos, .informacion, .columna-principal {
  background: rgb(46, 16, 10);
  background: linear-gradient(90deg, rgb(46, 16, 10) 14%, rgb(102, 55, 42) 70%, rgb(153, 114, 99) 95%);
}

/* bs */
.nav-link-name {
  font-family: "Franklin Gothic Medium", sans-serif, "Arial Narrow", Arial;
  font-size: 25px;
  color: white;
  list-style: none;
  text-decoration: none;
  padding: 8px;
}

/* ayuda bs*/
.main-acordion {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-left: 50px;
  padding-right: 50px;
}

.acordeon-boton {
  background-color: rgb(102, 55, 42);
  color: white;
  border: none;
  font-family: sans-serif;
  font-size: 25px;
  border-radius: 8px;
  padding-left: 8px;
}

.espacio-boton {
  padding-top: 15px;
  padding-bottom: 15px;
}

.respuesta-acordion {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: 20px;
  font-family: sans-serif;
  background-color: white;
  border-radius: 8px;
}

.navbar-color {
  background-color: black;
}

/* index */
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

main {
  background-color: white;
  background-repeat: repeat;
}

.columna-principal div {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}
.columna-principal h1 {
  color: white;
  font-family: "Jost", sans-serif;
  font-size: 25px;
}
.columna-principal h2 {
  color: white;
  font-family: "Jost", sans-serif;
  font-size: 25px;
}

.tambor {
  width: 30%;
}

.columna-horizontal {
  height: 350px;
  background-image: url(../imagenes/tamaño-correcto/inicio/fondo\ gris.jpg);
  background-size: cover;
}

.harry-inicio {
  width: 25%;
}

.descripcion-harry {
  margin-left: 3rem;
}
.descripcion-harry p {
  font-size: 20px;
}
.descripcion-harry a {
  color: white;
}
.descripcion-harry button {
  color: white;
  background-color: black;
  border-radius: 15px;
  text-decoration: none;
}

.boton-harry {
  text-decoration: none;
  color: black;
  font-family: "Jost", sans-serif;
}
.boton-harry:hover {
  background-color: white;
}
.boton-harry:hover a {
  color: black;
}

.columna {
  height: 100%;
}

.izquierda {
  background-color: rgb(182, 202, 238);
}

.derecha {
  color: white;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 14%, rgb(27, 26, 26) 81%, rgb(36, 34, 33) 95%);
}

.columna .descripcion {
  margin-left: 3rem;
}
.columna p {
  font-size: 1.8rem;
}

.batman {
  color: white;
}

main h2,
main p {
  font-family: "Jost", sans-serif;
}

section h2 {
  color: black;
}
section img {
  width: 200px;
  height: 200px;
}

.img {
  width: 35%;
}

footer {
  background-color: black;
}
footer img {
  padding-left: 1rem;
}
footer ul {
  display: flex;
  padding-right: 1rem;
}
footer ul li {
  color: aliceblue;
  font-size: 100%;
  list-style: none;
  padding: 0.4rem;
  padding-top: 1.9rem;
}
footer i {
  font-size: 2rem;
}
footer li a {
  color: aliceblue;
}

/* productos */
.prod-card {
  border-radius: 5px;
  box-shadow: 3px 11px 10px 2px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: 3px 11px 10px 2px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 3px 11px 10px 2px rgba(0, 0, 0, 0.48);
  margin: 0 1rem 1rem 1rem;
}
.prod-card h2 {
  padding-left: 8px;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", sans-serif, "Arial Narrow", Arial;
}
.prod-card p {
  padding-left: 8px;
  font-family: "Franklin Gothic Medium", sans-serif, "Arial Narrow", Arial;
}

.boton-productos {
  margin-bottom: 15px;
  border-radius: 4px;
  background-color: rgb(243, 238, 238);
  font-family: "Franklin Gothic Medium", sans-serif, "Arial Narrow", Arial;
}

.btn-comprar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productos {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 30px 30px 0 40px;
}

.producto-titulo {
  text-align: center;
}

.producto-imagenes {
  flex-wrap: wrap;
  padding: 1rem 0;
}

#primer-producto {
  padding-bottom: 3rem;
}

/* otros */
.otros-card {
  margin-top: 1rem;
}

/* info */
.informacion {
  height: 7rem;
}
.informacion h1 {
  color: white;
  font-family: "Franklin Gothic Medium", sans-serif, "Arial Narrow", Arial;
  padding-top: 1.5rem;
}

.contacto {
  font-family: "Franklin Gothic Medium", sans-serif, "Arial Narrow", Arial;
  list-style: none;
  color: black;
}

.datos ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  list-style: none;
  padding: 0;
}
.datos ul li {
  padding-right: 15px;
  color: rgb(102, 55, 42);
}
.datos ul li i {
  padding-right: 5px;
}

.logos {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.logos img {
  width: 20%;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* nosotros */
.sobre-nosotros {
  height: 250px;
  display: flex;
}
.sobre-nosotros h2 {
  color: white;
  font-size: 2rem;
  padding-left: 3rem;
  margin-top: 3rem;
  font-family: "Franklin Gothic Medium", sans-serif, "Arial Narrow", Arial;
}
.sobre-nosotros h3 {
  color: white;
  font-size: 1.1rem;
  padding-left: 3rem;
  padding-right: 2rem;
  font-family: "Franklin Gothic Medium", sans-serif, "Arial Narrow", Arial;
}

.cards-nosotros {
  flex-wrap: wrap;
  padding: 6% 0;
}

.card-nos {
  width: 20%;
  border-radius: 5px;
  box-shadow: 3px 11px 10px 2px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: 3px 11px 10px 2px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 3px 11px 10px 2px rgba(0, 0, 0, 0.48);
  margin: 1rem 1rem 1rem 1rem;
}
.card-nos img {
  width: 100%;
  font-family: "Franklin Gothic Medium", sans-serif, "Arial Narrow", Arial;
}
.card-nos h2 {
  font-size: 2rem;
  margin-left: 0.5rem;
  margin-top: 0.4rem;
  font-family: "Franklin Gothic Medium", sans-serif, "Arial Narrow", Arial;
}
.card-nos h3 {
  font-size: 1rem;
  margin-left: 0.5rem;
}
.card-nos button {
  border-radius: 10px;
  background-color: black;
  color: white;
  font-family: "Franklin Gothic Medium", sans-serif, "Arial Narrow", Arial;
  font-size: 1rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}
.card-nos button:hover {
  background-color: white;
  color: black;
}

@media (max-width: 576px) {
  .columna-principal h1 {
    font-size: 15px;
  }
  .columna-principal h2 {
    font-size: 14px;
  }
  section img {
    width: 100%;
    height: 100%;
  }
  .descripcion h2 {
    font-size: 1.2rem;
  }
  .descripcion p {
    font-size: 1rem;
  }
  .producto-imagenes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .prod-card {
    width: 80%;
  }
  .prod-card h2 {
    padding-left: 8px;
    font-size: 15px;
  }
  .prod-card p {
    padding-left: 8px;
  }
  .container-funkos {
    grid-template-columns: repeat(1, 1fr);
  }
  .harry-potter {
    font-size: 3.5rem;
  }
  .datos ul {
    flex-direction: column;
    font-size: 1.1rem;
  }
  .contacto-container {
    padding: 0 1rem;
  }
  .acordeon-boton {
    font-size: 1rem;
  }
  .respuesta-acordion {
    font-size: 1rem;
  }
  .sobre-nosotros h2 {
    font-size: 1rem;
    margin-top: 2rem;
  }
  .sobre-nosotros h3 {
    font-size: 0.8rem;
  }
  .card-nos {
    width: 40%;
  }
  .card-nos h2 {
    font-size: 1.2rem;
  }
  .card-nos h3 {
    font-size: 0.9rem;
  }
  .card-nos button {
    font-size: 0.8rem;
  }
  .btn-funkoblog {
    margin-top: 1.3rem;
  }
}/*# sourceMappingURL=style.css.map */