$tipografia-1: "Jost", sans-serif;
$tipografia-2: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$tipografia-3: sans-serif;
$tipografia-4:  Verdana, Geneva, Tahoma, sans-serif;

$medida-5: 5px;

$color-claro: white;
$color-oscuro: black;