
footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  
    img {
      padding-left: 1rem;
    }
  
    ul {
      display: flex;
      padding-right: 1rem;
  
      li {
        color: aliceblue;
        font-size: 100%;
        list-style: none;
        padding: .4rem;
        padding-top: 1.9rem;
      }
    }
  
    i {
      font-size: 2rem;
    }
  
    li a {
      color: aliceblue;
    }
  }
  