
footer {
    background-color: map-get($footer , "back-color");
    @extend %flex_space;
    
    
  
    img {
      padding-left: map-get($footer, "medida-1");
    }
  
    ul {
      display: flex;
      padding-right: map-get($footer, "medida-1" );
  
      li {
        color: aliceblue;
        font-size: 100%;
        list-style: map-get($footer, "estilo" );
        padding: .4rem;
        padding-top: map-get($footer, "medida-5");
      }
    }
  
    i {
      font-size: map-get($footer, "medida-2" );
    }
  
    li a {
      color: aliceblue;
    }
  }
  