/* index */

html {
    height: 100%;
  }
  
  body {
    margin: 0;
    height: 100%;
  }
  
  main {
    background-color: white;
    background-repeat: repeat;
  }
  
  .columna-principal {
    @extend %back-gradient;
    @extend %flex_space;
   
    
    div {
      display: flex;
      flex-direction: column;
      margin-left: 3rem;
    }
  
    h1 {
      color: $color-claro;
      font-family: $tipografia-1;
      font-size: 25px;
    }
  
    h2 {
      color: $color-claro;
      font-family: $tipografia-1;
      font-size: 25px;
    }
  }
  
  .tambor {
    width: 30%;
  }
  
  .columna-horizontal {
    @extend %flex_space;
    height: 350px;
    background-image: url(../imagenes/tamaño-correcto/inicio/fondo\ gris.jpg);
  }
  
  .harry-inicio {
    width: 35%;
  }
  
  .descripcion-harry {
    margin-left: 3rem;
  
    p {
      font-size: 20px;
    }
  
    a {
      color: $color-claro;
    }
  
    button {
      color: $color-claro;
      background-color: black;
      border-radius: 15px;
      text-decoration: none;
    }
  }
  
  .boton-harry {
    text-decoration: none;
    color: $color-oscuro;
    font-family: $tipografia-1;
  
    &:hover {
      background-color: $color-claro;
  
      a {
        color: $color-oscuro;
      }
    }
  }

  
  .container-funkos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
  
  .columna {
    @extend %flex_space;
    height: 100%;
  }
  
  .izquierda {
    background-image: url("../imagenes/tamaño-correcto/inicio/fondo\ burbuja.jpg");
  }
  
  .derecha {
    color: white;
    background-image: url("../imagenes/tamaño-correcto/inicio/fondo\ brilloso.jpg");
  }
  
  .columna {
    img {
      height: 100%;
      width: 55%;
    }
  
    .descripcion {
      margin-left: 3rem;
    }
  }
  
  .batman {
    color: $color-claro;
  }
  
  main {
    h2, p {
      font-family: $tipografia-1;
    }
  }
  

  
  section {
    h2 {
      color: $color-oscuro;
    }
  
    img {
      width: 200px;
      height: 200px;
    }
  }
 