/* info */

.informacion {
  @extend %back-gradient;
    height: 7rem;
  
    h1 {
      color: $color-claro;
      font-family:  $tipografia-2;
      @extend %flex_centrado;
      padding-top: 1.5rem;
    }
  }
  

   .datos ul {
    font-family: $tipografia-4;
    font-size: 20px;
    list-style: none;
    @extend %flex_space;
    padding: 0;
  
    li {
      padding-right: 15px;
      color: rgb(102, 55, 42, 1);
  
      i {
        padding-right: $medida-5;
      }
    }
  }
  
  .logos {
    @extend %back-gradient;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
  
    img {
      width: 20%;
    }
  }

  .flex {
    /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
  }
