@media (max-width: 576px) {
    .columna-principal {
      h1 {
        font-size: 15px;
      }
  
      h2 {
        font-size: 14px;
      }
    }
  
    section img {
      width: 100%;
      height: 100%;
    }
  
    .producto-imagenes {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  
    .prod-card {
      width: 80%;
  
      h2 {
        padding-left: 8px;
        font-size: 15px;
      }
  
      p {
        padding-left: 8px;
      }
    }
  
    .container-funkos {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .harry-potter {
      font-size: 3.5rem;
    }
  
    .datos ul {
      flex-direction: column;
      font-size: 1.1rem;
    }
  
    .contacto-container {
      padding: 0 1rem;
    }
  
    .acordeon-boton {
      font-size: 1rem;
    }
    
    .respuesta-acordion{
      font-size: 1rem;
    }
    
    .sobre-nosotros {
      h2 {
        font-size: 1rem;
        margin-top: 2rem;
       
      }
  
      h3 {
        font-size: .8rem;
        
      }
    }
  
  
  
    .card-nos {
      width: 40%;
  
      h2 {
        font-size: 1.2rem;
      }
  
      h3 {
        font-size: 0.9rem;
      }
  
      button {
        font-size: .8rem;
      }
    }
  
    .btn-funkoblog {
      margin-top: 1.3rem;
    }
  }
  