/* productos */

.prod-card {
    border-radius: $medida-5;
    box-shadow: 3px 11px 10px 2px rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: 3px 11px 10px 2px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 3px 11px 10px 2px rgba(0, 0, 0, 0.48);
    margin: 0 1rem 1rem 1rem;
  
    h2 {
      padding-left: 8px;
      font-size: 25px;
      font-family: $tipografia-2;
    }
  
    p {
      padding-left: 8px;
      font-family:  $tipografia-2;
    }
  }
  
  .boton-productos {
    margin-bottom: 15px;
    border-radius: 4px;
    background-color: rgb(243, 238, 238);
    font-family:  $tipografia-2;
  }
  
  .btn-comprar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .productos {
    font-family: $tipografia-4;
    margin: 0;
    padding: 30px 30px 0 40px;
  }
  
  .producto-titulo {
    text-align: center;
  }
  
  .producto-imagenes {
    @extend %flex_centrado;
    flex-wrap: wrap;
    padding: 1rem 0;
  }
  
  #primer-producto {
    padding-bottom: 3rem;

    
  }
  